In [1]:
# extract data 
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kelanwu/rookie-of-the-year-stats")

print("Path to dataset files:", path)

/Users/diannajackson/Desktop/de_projs/rookie_pipeline/rookie_pipeline_env/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/kelanwu/rookie-of-the-year-stats?dataset_version_number=1...

100%|██████████| 198k/198k [00:00<00:00, 3.83MB/s]

Extracting files...
Path to dataset files: /Users/diannajackson/.cache/kagglehub/datasets/kelanwu/rookie-of-the-year-stats/versions/1

In [3]:
# Explore Data
import pandas as pd

df = pd.read_csv('data/total_rookies_stats.csv')

df.head()

,Unnamed: 0,Player,Tm,Age,Yrs,G,MP,FG,FGA,3P,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,James Bailey,SEA,22.0,1.0,67.0,726.0,122.0,271.0,0.0,...,0.0,0.0,Seattle SuperSonics,56,26,0.683,4.0,108.5,103.8,4.24
1,1,Vinnie Johnson,SEA,23.0,1.0,38.0,325.0,45.0,115.0,0.0,...,0.0,0.0,Seattle SuperSonics,56,26,0.683,4.0,108.5,103.8,4.24
2,2,Billy Ray Bates,POR,23.0,1.0,16.0,235.0,72.0,146.0,8.0,...,0.0,0.0,Portland Trail Blazers,38,44,0.463,22.0,102.5,103.3,-0.87
3,3,Abdul Jeelani,POR,25.0,1.0,77.0,1286.0,288.0,565.0,0.0,...,0.0,0.0,Portland Trail Blazers,38,44,0.463,22.0,102.5,103.3,-0.87
4,4,Jim Paxson,POR,22.0,1.0,72.0,1270.0,189.0,460.0,1.0,...,0.0,0.0,Portland Trail Blazers,38,44,0.463,22.0,102.5,103.3,-0.87

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3265 entries, 0 to 3264
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3265 non-null   int64
 1   Player      3265 non-null   object
 2   Tm          3265 non-null   object
 3   Age         3265 non-null   float64
 4   Yrs         3265 non-null   float64
 5   G           3265 non-null   float64
 6   MP          3265 non-null   float64
 7   FG          3265 non-null   float64
 8   FGA         3265 non-null   float64
 9   3P          3265 non-null   float64
 10  3PA         3265 non-null   float64
 11  FT          3265 non-null   float64
 12  FTA         3265 non-null   float64
 13  ORB         3265 non-null   float64
 14  TRB         3265 non-null   float64
 15  AST         3265 non-null   float64
 16  STL         3265 non-null   float64
 17  BLK         3265 non-null   float64
 18  TOV         3265 non-null   float64
 19  PF          3265 non-null   float64
 20  PTS         3265 non-null   float64
 21  FG%         3231 non-null   float64
 22  3P%         2586 non-null   float64
 23  FT%         2998 non-null   float64
 24  MPG         3265 non-null   float64
 25  PPG         3265 non-null   float64
 26  RPG         3265 non-null   float64
 27  APG         3265 non-null   float64
 28  Year        3265 non-null   int64
 29  Pts Won     3265 non-null   float64
 30  Pts Max     3265 non-null   float64
 31  Share       3265 non-null   float64
 32  Team        3265 non-null   object
 33  W           3265 non-null   int64
 34  L           3265 non-null   int64
 35  W/L%        3265 non-null   float64
 36  GB          3265 non-null   float64
 37  PS/G        3265 non-null   float64
 38  PA/G        3265 non-null   float64
 39  SRS         3265 non-null   float64
dtypes: float64(33), int64(4), object(3)
memory usage: 1020.4+ KB

In [5]:
df.describe()

,Unnamed: 0,Age,Yrs,G,MP,FG,FGA,3P,3PA,FT,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
count,3265.000000,3265.000000,3265.0,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,...,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000,3265.000000
mean,1632.000000,22.592649,1.0,40.270138,708.423277,105.400306,235.943951,13.172435,40.443185,50.555283,...,7.069832,31.760490,0.018054,37.665237,42.562021,0.469363,17.534916,103.131363,104.092894,-0.919669
std,942.668641,1.995877,0.0,27.008179,747.667157,129.666136,280.307990,26.254866,73.714743,69.749965,...,50.588990,128.712303,0.109218,12.855355,12.903271,0.156236,13.288334,7.483572,7.472285,4.563250
min,0.000000,18.000000,1.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,7.000000,9.000000,0.106000,0.000000,81.900000,83.400000,-14.680000
25%,816.000000,22.000000,1.0,15.000000,108.000000,13.000000,32.000000,0.000000,1.000000,5.000000,...,0.000000,0.000000,0.000000,27.000000,32.000000,0.341000,5.000000,97.500000,98.500000,-4.310000
50%,1632.000000,22.000000,1.0,39.000000,414.000000,53.000000,125.000000,2.000000,8.000000,23.000000,...,0.000000,0.000000,0.000000,38.000000,42.000000,0.476000,16.000000,102.900000,104.300000,-0.590000
75%,2448.000000,23.000000,1.0,65.000000,1144.000000,154.000000,348.000000,12.000000,42.000000,67.000000,...,0.000000,0.000000,0.000000,48.000000,53.000000,0.591000,28.000000,108.800000,109.500000,2.530000
max,3264.000000,35.000000,1.0,82.000000,3249.000000,837.000000,1625.000000,206.000000,550.000000,630.000000,...,650.000000,650.000000,1.000000,73.000000,72.000000,0.890000,56.000000,123.700000,130.800000,11.800000

In [ ]:
# Data Viz